{% macro head() %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Comicbook</title>
    <link rel="shortcut icon" href="/webapp/static/favicon.ico">
    <link rel="apple-touch-icon" href="/webapp/static/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta mame="keywords" content="nhentai,hentai,comic,epub,moeoverflow">
    <meta description="description" content="convert comic to .epub e-book.">

    <!-- jQuery -->
    <script src="/webapp/static/js/jquery-3.0.0.min.js"></script>

    <!-- semantic -->
    <link rel="stylesheet" href="/webapp/static/semantic/dist/semantic.min.css">
    <script src="/webapp/static/semantic/dist/semantic.min.js"></script>

    <!--  share.js -->
    <link rel="stylesheet" href="/webapp/static/share.js/dist/css/share.min.css">
{#    <script src="/webapp/static/share.js/dist/js/jquery.share.min.js"></script>#}
    <script src="/webapp/static/share.js/dist/js/social-share.min.js"></script>

    <!-- custom -->
    <link rel="stylesheet" type="text/css" href="/webapp/static/css/comicbook.css">
{% endmacro %}
