[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
fastapi = "*"
fastapi-socketio = "*"
uvicorn = "*"
lxml = "*"
pymongo = "*"
redis = "*"
celery = {version="*", extras=["redis"]}
python-telegram-bot = "*"
sentry-sdk = {version="*", extras=["fastapi"]}
comicepub = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
