[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
comicepub = "*"
beautifulsoup4 = "*"
requests = "*"
flask = "*"
flask-socketio = "*"
blinker = "*"
jinja2 = "*"
lxml = "*"
pymongo = "*"
python-telegram-bot = "*"
sentry-sdk = "*"
gunicorn = "*"
eventlet = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
