asn1crypto==0.24.0
beautifulsoup4==4.6.3
blinker==1.4
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
Click==7.0
comicepub==0.2.0
cryptography==3.2
dnspython==1.16.0
eventlet==0.24.1
Flask==1.0.2
Flask-SocketIO==3.1.1
future==0.17.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.6.3
MarkupSafe==1.1.0
monotonic==1.5
pycparser==2.19
pymongo==3.8.0
python-engineio==3.9.0
python-socketio==2.1.1
python-telegram-bot==11.1.0
requests==2.22.0
sentry-sdk==0.7.4
six==1.11.0
urllib3==1.25.2
Werkzeug==1.0.1
