asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
Flask==1.0.2
Flask-SocketIO==3.1.1
future==0.17.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
pycparser==2.19
python-engineio==3.0.0
python-socketio==2.1.1
python-telegram-bot==11.1.0
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
